h1,h2,h3,h4,h5,h6,dl,ol,ul,dt,dd,li,body,p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    
}
a {
    text-decoration: none;
    color: #666;
}
img,input {
    border: none;
    outline-style: none;
    vertical-align: middle;
    padding: 0;
}
em {
    font-style: normal;
}
.left {
    float: left;
}
.right {
    float: right;
}
.w {
    width: 1904px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}

